@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&display=swap');

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  flex-shrink: 0;
  background-color: #e0e0e0;
  padding-bottom: 12px;
}
